.home {
  padding: 20px;

  h1 {
    color: $text-color;
    font-size: 2em;
    margin-bottom: 1em;
  }

  p {
    color: $secondary-text;
  }
}

.box {
  background-color: red;
  width: 100px;
  height: 100px;
}